<!DOCTYPE html>
<html lang="pt-BR" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <title>Drag and Drop</title>
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
    <script src="/public/js/common.js"></script>
    <link rel="stylesheet" href="/public/css/styles.css" />
  </head>
  <body>
    <nav class="nav-main">
        <div class="theme">
            <label class="switch">
                <input id="darkmodeBtn" type="checkbox" checked>
                <span class="slider round"></span>
            </label>
            <div class="moon-sun">
                <iconify-icon id="icon-theme-moon" icon="bxs:moon"></iconify-icon>
                <iconify-icon id="icon-theme-sun" icon="akar-icons:sun"></iconify-icon>
            </div>
        </div>
    </nav>
    <main>
        <div class="div-table">
            <h1>Conquistas:</h1>
            <table class="styled-table noselect">
                <tr>
                  <th>1</th>
                  <th>2</th>
                  <th>3</th>
                  <th>4</th>
                  <th>5</th>
                  <th>6</th>
                </tr>
                <tr>
                  <td>
                    <iconify-icon icon="bi:trophy-fill"></iconify-icon>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>
                    <iconify-icon icon="bi:trophy-fill"></iconify-icon>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
        </div>
    </main>
    <footer>
        <p>Author: <strong>@Luiggi Antonni</strong><br>
        <nav>
            <a href="https://github.com/LuiggiAntonni?tab=repositories"><iconify-icon icon="akar-icons:github-fill"></iconify-icon></a>
            <a href="https://www.linkedin.com/in/luiggi-antonni-di-stefano-caldas/"><iconify-icon icon="akar-icons:linkedin-box-fill"></iconify-icon></a>
        </nav>
      </footer>
  </body>
</html>
